site_name: Sonolus.py Documentation
site_url: https://sonolus.py.qwewqa.xyz
repo_url: https://github.com/qwewqa/sonolus.py
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - toc.follow
    - navigation.top
  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default


      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
            show_root_full_path: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            filters:
              - "!^_"
              - "^__"
              - "!^_.+_"
              - "^__.+__"
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - toc:
      permalink: true
  - tables
  - pymdownx.betterem
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite:
      style_plain_text: python
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
nav:
  - index.md
  - Concepts:
      - concepts/index.md
      - concepts/types.md
      - concepts/constructs.md
      - concepts/builtins.md
      - concepts/project.md
      - concepts/resources.md
      - concepts/cli.md
  - Reference:
      - reference/index.md
      - reference/builtins.md
      - reference/math.md
      - reference/random.md
      - reference/sonolus.script.archetype.md
      - reference/sonolus.script.array.md
      - reference/sonolus.script.array_like.md
      - reference/sonolus.script.bucket.md
      - reference/sonolus.script.containers.md
      - reference/sonolus.script.debug.md
      - reference/sonolus.script.easing.md
      - reference/sonolus.script.effect.md
      - reference/sonolus.script.engine.md
      - reference/sonolus.script.globals.md
      - reference/sonolus.script.instruction.md
      - reference/sonolus.script.interval.md
      - reference/sonolus.script.iterator.md
      - reference/sonolus.script.level.md
      - reference/sonolus.script.metadata.md
      - reference/sonolus.script.num.md
      - reference/sonolus.script.options.md
      - reference/sonolus.script.particle.md
      - reference/sonolus.script.printing.md
      - reference/sonolus.script.project.md
      - reference/sonolus.script.quad.md
      - reference/sonolus.script.record.md
      - reference/sonolus.script.runtime.md
      - reference/sonolus.script.sprite.md
      - reference/sonolus.script.stream.md
      - reference/sonolus.script.text.md
      - reference/sonolus.script.timing.md
      - reference/sonolus.script.transform.md
      - reference/sonolus.script.ui.md
      - reference/sonolus.script.values.md
      - reference/sonolus.script.vec.md
